@model Character

<div class="card mb-4 text-center">
    <div class="card-body">
        <h1>@Model.Name</h1>
        <p>@Model.Gender</p>
        <p>@Model.Type</p>
        <p>@Model.Species</p>
        <p>@Model.Status</p>
        <img src="@Model.Image" alt="a picture of a character">
        <a href="@Url.Action("Index", "RickAndMorty")" class="btn btn-primary">Go Back</a>
    </div>
</div>